.map-cliente {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}

.btn-alert {
    position: absolute;
    bottom: 40px;
    right: 30px;
    z-index: 999;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 999;
}


.btn-info-service {
    position: absolute  ;
    bottom: 40px;
    left: 30px;
    z-index: 999;
}


.btn-grid {} 