header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: #fff;
}
.header__title {
  margin: 0;
}


.service-track {
  font-size: 1rem;
  font-weight: 700;
}