.map-container {
    margin-top: 1rem;
    height: 90vh;
    width: 90vw;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.map {
    height: 100%;
    width: 100%;
}

.buttons {
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    place-items: center; 
    z-index: 9999;
}

@media (max-width: 768px) {
    .buttons {
        bottom: 50px;
        right: 20px;
    }
}